.faewild {
        fill-rule:evenodd;
        clip-rule:evenodd;
        stroke-linejoin:round;
        stroke-miterlimit:2;

}

svg.faewild {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: -1;
}

filter {
  z-index: 1;
}


body, html {
    min-height: 100vh;
    width: auto;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 0;

}

/* Containers for infinite text scroll */
#infinite-scroll-bar1, #infinite-scroll-bar2 {
    position: static;
    z-index: 3;
    width: 100dvw;
    height: 200px;
    overflow: hidden;
    display: grid;
    justify-content: center;
    align-items: center;
    /*debug border */
    border: 25px solid red;
}

#infinite-scroll-bar2 {
    /*debug border */
    border: 25px solid blue;
}

/* Text elements for infinite scroll */
#infinite-scroll-text1, #infinite-scroll-text2 {
    position: absolute;
    white-space: nowrap;
    font-size: 24rem;
    color: #000;
    animation: scroll-text 10s linear infinite;
}
@keyframes scroll-text {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
